
hr{
	border: 1px solid $dark;
}

label{
	font-size: 18px;

	&.small{
		font-size: 14px;

		span.label{
			padding-left: 10px;
		}
	}
}

.checkbox{
	display: block;
  position: relative;
  padding-left: 26px;
  margin-bottom: 18px;
	display: flex;
	align-items: center;
	height: 24px;

	input:checked ~ .checkmark:after {
		display: block;
	}

	input[type="checkbox"]{  
		height: 0;
		width: 0; 
		display: none;
		&:checked ~ .checkmark {
			// background-color: #A2CD3A;
		}
	}
	.checkmark{
		position: absolute;
		top: 0;
		left: 0;
		height: 20px;
		width: 20px;
		border: 2px solid $gray2;
		background-color: $darker;
		border-radius: 4px;

		&:after {
			top: 3px;
			width: 14px;
			height: 14px;
			left: 3px;
			background: $green;
			content: "";
			position: absolute;
			display: none;
		}
	}
}

.wp-block-fuellogic-app-thank-you,
.wp-block-fuellogic-app-site-add{
	padding-bottom: 100px;
	button#submit-button{
    position: fixed;
    bottom: 0px;
    width: 100%;
    color: #141414;
    background: $gray;
    font-size: 22px;
    font-family: Lato;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-wrap: break-word;
		border: none;
		padding: 22px;
		z-index: 99;

		&.next{
			background: $green;
		}
		&.green{
			background: $green;
		}
  }
}

.text-center{
	display: block;
	text-align: center;
}
// Custom Radio Button
/* Customize the label (the container) */
.custom-radio-wrapper{
	display: flex;
	justify-content: center;
	gap: 30px;
	margin: 10px;
	flex-direction: row!important;
}
.custom-radio { 
  position: relative;
  padding-left: 35px; 
  cursor: pointer; 
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

	/* Hide the browser's default radio button */
 	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}

	/* Create a custom radio button */
	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 25px;
		width: 25px;
		background-color: #eee;
		border-radius: 50%;

		/* Create the indicator (the dot/circle - hidden when not checked) */
		&:after {
			content: "";
			position: absolute;
			display: none;
			top: 9px;
			left: 9px;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background: white;
		} 
	}
	/* On mouse-over, add a grey background color */
	&:hover input ~ .checkmark {
		background-color: #ccc;
	}

	/* When the radio button is checked, add a blue background */
	input:checked ~ .checkmark {
		background-color: $green;
	}

	/* Show the indicator (dot/circle) when checked */
	 input:checked ~ .checkmark:after {
		display: block;
	}
}
// End Custom Radio Button

#react-calendar{ 
}


