form{
	display: flex;
	flex-direction: column;
	gap: 20px;

	input{
		background: $dark;
		border-radius: 12px;
		border: none;
		padding: 16px;
		color: $white;
		font-size: 18px;
		&:focus, &:active{
			border: 2px solid $gray3;
			padding: 14px;
		}
	}

	.remember{
		display: flex;
		justify-content: space-between;
		gap: 10px;
		color: $white;
		font-size: 18px;
		input{
			width: 20px;
			height: 20px;
		}
	}
}