/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .mobile-hidden{
    display: none;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .wp-block-fuellogic-app-order-status,
  .wp-block-fuellogic-app-site-add{
    button.submit-button{
      position: relative;
      margin-top: 40px;
    }
  }
  
  .mobile-only{
    display: none!important;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}