/* The Modal (background) */
.modal {
  display: grid; 
  grid-template-columns: 1fr;
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */ 
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */ 
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.72); /* Black w/ opacity */
  // flex-direction: column;
  align-items: center; 
  justify-content: center;
  justify-items: center;
  box-sizing: border-box;
  
  // Animations
  // transition: transform 0.5s ease;
  // transform: translateY(200%);
  // -webkit-transform: translateY(200%);

  
  // Slide animation
  // &.show {
  //   transform: translateY(0%);
  //   -webkit-transform: translateY(0%);  
  // }

  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #1c1c1c; 
    padding: 20px 40px;
    max-width: 768px;
    width: 80%;
    border-radius: 1.5rem;
    height: 100%;
    padding-bottom: 50px;
    margin: 0px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
    h1, p{
      margin: 0px;
      // line-height: 1.5rem;
    }
    form{
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px; 

      div{
        display: flex;
        flex-direction: row; 
        padding: 10px 0px;
        justify-content: flex-end;

        input[type=text], select, textarea { 
          padding: 12px;
          border: 1px solid #ccc;
          border-radius: 2em; 
          width: 100%;
        }
        
        label {
          padding: 10px 0;
          width: 25%;
        }

        button {
          background-color: #04AA6D;
          color: white;
          padding: 12px 20px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          float: right;
        }
        
        button:hover {
          background-color: #45a049;
        }
      }
      
    }

    .done-btn{
      position: absolute;
      bottom: 20px;
      color: $gray; 
    }
  }

  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}
// 