@import "colors.scss";
@import "forms.scss";
@import "login.scss";
@import "media-query.scss";
@import "antd-override.scss";

.loading-screen{
	&::before{ 
    content: "";
    background: radial-gradient(circle at 100px 200px, rgba(162, 205, 59, 0.2), transparent);
    width: 40%;
    height: 100%;
    position: absolute;
		left: 0px;
    filter: blur(100px);
	}
}

:not(.home) {
	&.page-template-wp-custom-template-no-header-and-footer{  
		&::before{ 
			content: "";
			background: radial-gradient(circle at 100px 200px, rgba(162, 205, 59, 0.2), transparent);
			width: 40%;
			height: 100%;
			position: absolute; 
			filter: blur(100px);
		}
	}
}

.loading-screen{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.mobile-footer-navigation{
	display: none;
	position: fixed;
	bottom: 0px;
	width: 100%;

	p{
		padding: 0px;
		border-radius: 12px;
		padding: 10px 20px;
	}
	& ~ .entry-content{
		margin-bottom: 120px;
	}

	.is-layout-flex{
		gap: 0px;
	}
}

.mobile-header{
	display: none;
}

.wp-block-fuellogic-app-desktop-menu{
	display: block;
}

.mobile-images{
	display: none;
}
// Tablet down to mobile
@media only screen and (max-width: 768px) {
	// Hide desktop menu
	.wp-block-fuellogic-app-desktop-menu{
		display: none;
	}

	// Show footer nav
	.mobile-footer-navigation{
		display: block;
		p{
			padding: 0px;
			border-radius: 12px;
			padding: 10px 20px;
		}
	}

	// Show mobile menu
	.mobile-header{
		display: block;
	}

	// Add radial gradient green
	:not(.home) {
		&.page-template-wp-custom-template-no-header-and-footer{
			&::before{ 
				background: radial-gradient(circle at 0px 0px, rgba(162, 205, 59, 0.3), transparent);
				width: 60%;
				height: 40%;
				right: 0px;
				position: absolute;
			}
		}
	}

	
	// Front page / home / intro page
	.page-template-wp-custom-template-no-head-footer-loading-screen{
		.wp-block-spacer{
			display: none;
		}
		.home-content{
			border-radius: 25px;
			top: -20px;
			padding: 0px;

			.wp-block-column{
				margin-top: 0px!important;
				&:first-child{
					display: none;
				}
			}
		}
	}

	// Intro images / mobile
	.mobile-images{
		display: block;
	}
	body{
		background-image: none!important;
	}

	// Default template
	.page-template-default{
		.wp-block-spacer{
			display: none;
		}

		// Onboarding page
		.onboarding-page{
			p, h1, h2 {
				text-align: center;
			}
		}

	}
}

@media only screen and (max-width: 600px) {
	// Invoices page, sites, orders
	.sites-image,
	.invoices-image{
		padding-top: 200px!important;
	}
	.orders-image{
		padding-left: 0px!important;
		padding-top: 20px!important;
	}
}
 
.gray{
	color: $gray;
}

.space-between{
	justify-content: space-between;
}

.input-number{
	width: 30px;
	height: 10px;
	text-align: center;
}

.hidden{
	display: none;
}


.wp-block-fuellogic-app-thank-you{

	.color-gray{
		color: $gray;
	}
	.site-info{
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin-top: 20px;
		hr{
			margin: 20px 0px;
		}
	}
	h2,h3{
		margin: 10px 0px;
	}
	
	.section{
		display: flex;
    flex-direction: column;
    gap: 10px;
		label{
			margin-top: 20px;
			font-weight: 700;
		}
	}
	.wrapper{
		padding: 0px 20px;
	}
	.heading{
		display: grid;
    grid-template-columns: 60px auto;
    align-items: center;
		margin-bottom: 40px;
		.fa-circle-check{
			font-size: 45px;
		}
		
	}

	.site-wrapper{
		display: grid;
    grid-template-columns: 30px auto;
		align-items: center;
		& div{
			padding: 20px 10px;
		}
		
		.fa-circle,
		.fa-arrow-rotate-right,
		.fa-truck-fast,
		.fa-circle-check{
			color: #FF8C57;
			font-size: 26px;
			padding: 20px 0px;
		}
		.fa-truck-fast{
			color: #E8B931;
		}
		.fa-circle-check{
			color: #A2CD3A;
		}
		
	}

	h3{
		color: #D9D9D9;
		margin: 0px;
		padding: 0px;
	}
	p{
		color: $gray;
		font-size: 18px;
		margin: 0px;
		padding: 0px;
		text-align: left;
		&.small{
			font-size: 14px;
		}
	}
	.status-wrapper{  
    text-align: center;

		p{
			text-align: center;
			padding:10px;
		}
		div.status{
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			
			span{
				background: #474747;
				padding: 4px;
				// border-top-left-radius: 20px;
				// border-bottom-right-radius: 20px;
				position: relative;
		
				&::before{
					content: " ";
					position: absolute;
					background: #000;
					width: 8px;
					height: 20px;
					top: -6px;
					left: -2px;
					transform: rotate(45deg);
				}
				// &::after{
				// 	content: " ";
				// 	position: absolute;
				// 	background: #1C1C1C;
				// 	width: 10px;
				// 	height: 16px;
				// 	top: -2px;
				// 	right: 0px;
				// 	transform: rotate(45deg);
				// }
		
				&:first-child{
					border-top-left-radius: 10px;
					border-bottom-left-radius: 10px;
					&::before{
						display: none;
					}
				}
				&:last-child{
					border-top-right-radius: 10px;
					border-bottom-right-radius: 10px;
					// &::after{
					// 	display: none;
					// }
				}
			}
			&.ordered{
				span:nth-child(-n+1){
					background: #FF8C57; 
				}
			}
			&.processing{
				span:nth-child(-n+2){
					background: #FF8C57; 
				}
			}
			&.out-for-delivery{
				span:nth-child(-n+3){
					background: #E8B931;
				}
			}
			&.delivered{
				span:nth-child(-n+4){
					background: #A2CD3A;
				}
			}
		}
	}
}

