@import "colors.scss";
@import "forms.scss";
@import "login.scss";
@import "media-query.scss";
@import "antd-override.scss";
@import "modal.scss";
@import "custom-select.scss";

.loading-screen{
	&::before{ 
    content: "";
    background: radial-gradient(circle at 100px 200px, rgba(162, 205, 59, 0.2), transparent);
    width: 40%;
    height: 100%;
    position: absolute;
		left: 0px;
    filter: blur(100px);
	}
}

:not(.home) {
	&.page-template-wp-custom-template-no-header-and-footer{  
		&::before{ 
			content: "";
			background: radial-gradient(circle at 100px 200px, rgba(162, 205, 59, 0.2), transparent);
			width: 40%;
			height: 100%;
			position: absolute; 
			filter: blur(100px);
		}
	}
}

.loading-screen{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.mobile-footer-navigation{
	display: none;
	position: fixed;
	bottom: 0px;
	width: 100%;

	p{
		padding: 0px;
		border-radius: 12px;
		padding: 10px 20px;
	}
	& ~ .entry-content{
		margin-bottom: 120px;
	}

	.is-layout-flex{
		gap: 0px;
	}
}

.mobile-header{
	display: none;
}

.wp-block-fuellogic-app-desktop-menu{
	display: block;
}

.mobile-images{
	display: none;
}
// Tablet down to mobile
@media only screen and (max-width: 768px) {
	// Hide desktop menu
	.wp-block-fuellogic-app-desktop-menu{
		display: none;
	}

	// Show footer nav
	.mobile-footer-navigation{
		display: block;
		p{
			padding: 0px;
			border-radius: 12px;
			padding: 10px 20px;
		}
	}

	// Show mobile menu
	.mobile-header{
		display: block;
	}

	// Add radial gradient green
	:not(.home) {
		&.page-template-wp-custom-template-no-header-and-footer{
			&::before{ 
				background: radial-gradient(circle at 0px 0px, rgba(162, 205, 59, 0.3), transparent);
				width: 60%;
				height: 40%;
				right: 0px;
				position: absolute;
			}
		}
	}

	
	// Front page / home / intro page
	.page-template-wp-custom-template-no-head-footer-loading-screen{
		.wp-block-spacer{
			display: none;
		}
		.home-content{
			border-radius: 25px;
			top: -20px;
			padding: 0px;

			.wp-block-column{
				margin-top: 0px!important;
				&:first-child{
					display: none;
				}
			}
		}
	}

	// Intro images / mobile
	.mobile-images{
		display: block;
	}
	body{
		background-image: none!important;
	}

	// Default template
	.page-template-default{
		.wp-block-spacer{
			display: none;
		}

		// Onboarding page
		.onboarding-page{
			p, h1, h2 {
				text-align: center;
			}
		}

	}
}

@media only screen and (max-width: 600px) {
	// Invoices page, sites, orders
	.sites-image,
	.invoices-image{
		padding-top: 200px!important;
	}
	.orders-image{
		padding-left: 0px!important;
		padding-top: 20px!important;
	}
}
 

.input-number{
	width: 30px;
	height: 10px;
	text-align: center;
}

